#speed-update-dropdown {
  display: block;
  left: 29px;
  top: 40px;
}

#speed-update-dropdown li:hover{
  color: #363636;
  background-color: #f5f5f5;
}

#speed-update-button {
  float: left;
  width: 150px;
}

#speed-dropdown-icon {
  float: left;
  width: 25px;
}
